.container-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  .sidebar-panel {
    position: absolute;
    min-width: 200px;
    height: calc(100vh - 40px);
    top: 0;
    left: 0;
  }

  .main-panel {
    width: 100%;
    background: #f2f2f2;
  }
}
